[submodule "appinsights/vendor/code.cloudfoundry.org/clock"]
	path = vendor/code.cloudfoundry.org/clock
	url = https://github.com/cloudfoundry/clock
[submodule "vendor/github.com/satori/go.uuid"]
	path = vendor/github.com/satori/go.uuid
	url = https://github.com/satori/go.uuid.git
[submodule "vendor/github.com/gobwas/glob"]
	path = vendor/github.com/gobwas/glob
	url = https://github.com/gobwas/glob
